.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* REMOTE MAIN */
.remote-video {
  width: 70%;
  height: 70%;
  object-fit: cover;
}

/* REMOTE SMALL */
.remote-video-small {
  position: absolute;
  right: 20px;
  bottom: 20px;

  width: 220px;
  height: 140px;

  object-fit: cover;
  border-radius: 12px;

  z-index: 5;
}

/* LOCAL MAIN */
.local-video-large {
  width: 70%;
  height: 70%;
  object-fit: cover;
}

/* LOCAL SMALL */
.local-video-small {
  position: absolute;
  right: 20px;
  bottom: 20px;

  width: 220px;
  height: 140px;

  object-fit: cover;
  border-radius: 12px;

  z-index: 5;
}

/* Hide remote before call */
.hidden {
  display: none;
}

/* Resize button */
.resize-button {
  position: absolute;
  right: 30px;
  bottom: 30px;

  width: 36px;
  height: 36px;

  z-index: 20;

  border: none;
  border-radius: 8px;

  cursor: pointer;
}