.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
}

/* REMOTE VIDEO - MAIN*/

.remote-video {
  width: 75%;
  height: 75%;
  object-fit: cover;
  border-radius: 16px;
}

/* REMOTE VIDEO - SMALL*/

.remote-video-small {
  position: absolute;
  left: 20px;
  top: 20px;

  width: 220px;
  height: 140px;

  object-fit: cover;
  border-radius: 12px;

  z-index: 5;
}

/* LOCAL VIDEO - MAIN */

.local-video-large {
  position: absolute;

  width: 75%;
  height: 75%;

  object-fit: cover;
  border-radius: 16px;

  z-index: 2;
}

/* LOCAL VIDEO - SMALL*/

.local-video-small {
  position: absolute;

  right: 20px;
  bottom: 20px;

  width: 220px;
  height: 140px;

  object-fit: cover;
  border-radius: 12px;

  z-index: 10;
}

/* HIDDEN*/

.hidden {
  display: none;
}

/*  RESIZE BUTTON*/

.resize-button {
  position: absolute;

  right: 20px;
  bottom: 175px;

  width: 36px;
  height: 36px;

  z-index: 20;

  border: none;
  border-radius: 8px;

  cursor: pointer;
}

/* MOBILE */

@media (max-width: 600px) {

  .video-container {
    width: 100%;
    height: 100dvh;
  }

  .remote-video {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .local-video-small {
    width: 110px;
    height: 150px;

    right: 12px;
    bottom: 80px;

    border-radius: 10px;
  }

  .local-video-large {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .remote-video-small {
    width: 110px;
    height: 150px;

    left: 12px;
    top: 80px;

    border-radius: 10px;
  }

  .resize-button {
    right: 12px;
    bottom: 25px;
  }
}